$black: #2E2E2E;
$black-h: #636363;
$bg: #FAFAFA;
$bg-h: #f0f0f0;
$principal:#F9BA10;
$principal-h: #FFDC7D;
$bgTransparent: rgba(255, 255, 255,0%);
$gradientPrincipal: linear-gradient(45deg, #F9BA10, #FFDC7D);
$gradientPrincipal-h:linear-gradient(90deg, #f18e5c, #f5b958);
$gradientWhite: linear-gradient(105deg, #FFF5E4, #F5BB9E);
$ff: "Open sans", sans-serif;
$ff-nav: 400 1.6rem/2rem $ff;
$ff-dsc: 400 1.6rem/2.4rem $ff;
$ff-dsc-mm: 400 2rem/2.4rem $ff;
$ff-dsc-hm: 300 3.2rem/4rem $ff;
$ff-st: 800 1.6rem $ff;
$ff-h1-sm: 900 3.2rem $ff;
$ff-h1-mm: 200 3.6rem/3.6rem $ff;
$ff-h1-hm: 200 6.4rem/7.6rem $ff;
$ff-h2:900 6.4rem $ff;
$ff-h2-mm: 200 5.2rem/5.6rem $ff;
$ff-btn: 800 3.2rem $ff;
$ff-btn-modal: 900 1.6rem $ff;
$transition: all 1s ease;
$shadow-box: 1px 1px 10px rgba(10,10,10,20%);
$shadow-box-h:3px 5px 12px rgba(10, 10, 10, 25%);