$black: #2E2E2E;
$black-h: #636363;
$bg: #FAFAFA;
$bg-h: #f0f0f0;
$principal:#F9BA10;
$principal-h: #FFDC7D;
$ff: "Open-sans", sans-serif;
$ff-nav: 600 1.6rem/2rem $ff;
$transition: all 500ms ease-in-out;