@use 'variable.scss' as c;
@use 'reset.scss';

:root {
    font-family: c.$ff;
    line-height: 1.5;
    font-size: 62.5%;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: c.$bg;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@mixin flex($jtf:space-between, $alg:center, $col:row){
    display:flex;
    justify-content:$jtf;
    align-items:$alg;
    flex-direction:$col;
}
header{
    position:fixed;
    top:0;
    width:100%;
    background-color: c.$principal;
}
.nav{
    @include flex;
    padding:.8rem 2rem;
    box-sizing:border-box;
    img{
        height:6rem;
    }
    ul{
        @include flex;
        width:70%;
        gap: 2rem;
        li{
            font:c.$ff-nav;
        }
    }
}
.container{
    width:100%;
    max-width:128rem;
    height:8rem;
    margin: 0 auto;
}
a {
  color: c.$black;
  text-decoration: inherit;
  transition: c.$transition;
}
a:hover {
  color: c.$black-h;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: c.$black;
    background-color: c.$bg;
  }
  a:hover {
    color: c.$black-h;
  }
  button {
    background-color: c.$bg-h;
  }
}