html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: transparent;
  border: none;
  outline: transparent;
  cursor: pointer;
}

:root {
  font-family: "Open sans", sans-serif;
  line-height: 1.5;
  font-size: 62.5%;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #FAFAFA;
  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100vw !important;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  z-index: 1;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0.8rem 2rem;
  box-sizing: border-box;
}
.nav img {
  height: 6rem;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 64%;
  gap: 2rem;
}
.nav ul li a {
  font: 400 1.6rem/2rem "Open sans", sans-serif;
  color: #2E2E2E;
  text-decoration: inherit;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.nav ul li a:hover {
  color: #636363;
  font-weight: 600;
}
.nav__burger {
  display: none;
}

.container {
  position: relative;
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
}
.container__hero {
  position: relative;
  margin-top: 20rem;
  width: 70.7rem;
  z-index: 1;
}

section:first-of-type {
  width: 100%;
  height: 44rem;
}

.hero {
  width: 4207px;
  height: 3903px;
  position: absolute;
  top: -3000px;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
  overflow: hidden;
  background-color: #F9BA10;
  border-radius: 100%;
}
.hero__mask {
  width: 99%;
  height: 99%;
  background: linear-gradient(45deg, #F9BA10, #FFDC7D);
  border-radius: 100%;
  z-index: -1;
  overflow: hidden;
}
.hero__mask-img1, .hero__mask-img2, .hero__mask-img3, .hero__mask-img4 {
  position: absolute;
}
.hero__mask-img1 {
  bottom: -600px;
  right: 1400px;
}
.hero__mask-img2 {
  bottom: 0;
  right: 1300px;
  width: 25rem;
  filter: blur(3px);
}
.hero__mask-img3 {
  bottom: 200px;
  right: 1250px;
  width: 44rem;
  z-index: -1;
  transform: rotateZ(-20deg);
}
.hero__mask-img4 {
  bottom: 36rem;
  right: 196rem;
  width: 12rem;
  filter: blur(2px);
}

.hero__title {
  font: 200 6.4rem/7.6rem "Open sans", sans-serif;
  text-transform: uppercase;
  margin-bottom: 1rem 0;
}
.hero__title strong {
  font-weight: 800;
}

.hero__desc {
  font: 300 3.2rem/4rem "Open sans", sans-serif;
  letter-spacing: 1%;
  margin: 1rem 0;
}
.hero__desc strong {
  color: #FAFAFA;
  font-weight: 600;
}

.hero__btn {
  border: none;
  background: #2E2E2E;
  font: 900 1.6rem "Open sans", sans-serif;
  padding: 0.8rem 6rem;
  height: 4rem;
  border-radius: 0.8rem;
  color: #FAFAFA;
  margin: 1rem 0;
  transition: all 1s ease;
  cursor: pointer;
}
.hero__btn:hover {
  background: #636363;
  outline: 1px solid #f0f0f0;
  box-shadow: 3px 5px 12px rgba(10, 10, 10, 0.25);
}
.hero__btn:focus, .hero__btn:focus-visible {
  outline: 1px solid #f0f0f0;
}

.commom-inner__title, .title {
  font: 200 5.2rem/5.6rem "Open sans", sans-serif;
  text-transform: uppercase;
}
.commom-inner__title strong, .title strong {
  font-weight: 800;
}

.title {
  font-weight: 800;
  text-align: center;
}

#commom {
  position: relative;
  background-color: #FFDC7D;
  width: 100%;
  height: 72rem;
  z-index: -50;
  padding-top: 32rem;
}
#commom .commom-inner {
  width: 64rem;
  margin: 2rem 0;
}
#commom .commom-inner__hr {
  width: 50%;
  background: #636363;
  border: none;
  outline: none;
  height: 0.2rem;
  margin: 2rem 0;
}
#commom .commom-inner__dsc {
  font: 400 1.6rem/2.4rem "Open sans", sans-serif;
  letter-spacing: 1%;
}
#commom .commom-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 2rem 0;
}
#commom .commom-card__unit {
  flex: 1 1 32rem;
  max-width: 30rem;
}
#commom .commom-card__unit-img {
  height: 6rem;
  margin: 2rem 0;
}
#commom .commom-card__unit-title {
  font: 900 3.2rem "Open sans", sans-serif;
  margin: 1rem 0;
  text-transform: uppercase;
  line-height: 3.2rem;
}
#commom .commom-card__unit-dsc {
  font: 400 1.6rem/2.4rem "Open sans", sans-serif;
  margin: 1rem 0;
  letter-spacing: 1%;
}
@media screen and (max-width: 560px) {
  #commom {
    padding-top: 12rem;
    height: 172rem;
  }
  #commom .commom-inner {
    width: 100%;
  }
  #commom .commom-inner__dsc {
    font: 300 1.4rem/2rem "Open sans", sans-serif;
  }
  #commom .commom-card {
    flex-wrap: wrap;
    flex-direction: column;
  }
  #commom .commom-card__unit {
    width: 100%;
  }
  #commom .commom-card__unit-dsc {
    font: 300 1.4rem/2rem "Open sans", sans-serif;
  }
}

.ui {
  margin: 10rem 0;
  width: 35.94%;
}
.ui-lateral {
  margin: 2rem 0;
}
.ui-lateral__btn {
  border-top: 1px solid #2E2E2E;
  border-bottom: 1px solid #2E2E2E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 1rem 2rem;
  box-sizing: border-box;
  cursor: pointer;
}
.ui-lateral__btn-opt {
  font: 900 3.2rem "Open sans", sans-serif;
  line-height: 3.2rem;
  text-transform: uppercase;
}
.ui-lateral__dsc {
  margin: 2rem 0;
}
.ui-lateral__dsc-txt {
  font: 400 1.6rem/2.4rem "Open sans", sans-serif;
}
.ui-lateral__dsc-bd {
  font: 800 1.6rem "Open sans", sans-serif;
  margin: 2rem 0;
}
.ui-lateral__dsc ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 2rem;
}
.ui-lateral__dsc ul li {
  font: 300 1.4rem/1.8rem "Open sans", sans-serif;
  margin: 0.8rem 0;
}
.ui-lateral__img {
  position: absolute;
  right: 0;
  top: 4rem;
  width: 35%;
}
.ui-lateral .hidden {
  display: none;
}
@media screen and (max-width: 560px) {
  .ui {
    width: 100%;
  }
  .ui-lateral__dsc-txt {
    font: 300 1.4rem/2rem "Open sans", sans-serif;
  }
  .ui-lateral__img {
    position: relative;
    margin: 3.2rem 0;
    width: 100%;
  }
}

.clientes {
  padding: 5rem 0;
}
.clientes-inner {
  width: 48rem;
}
.clientes-inner__dsc {
  font: 400 1.6rem/2.4rem "Open sans", sans-serif;
  margin: 2rem 0;
}
.clientes-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 5rem 0;
}

.box-faq {
  display: block;
  border: 0 solid transparent;
  border-radius: 0.8rem;
  background: #2E2E2E;
  width: 95%;
  height: 8.8rem;
  margin: 2rem auto;
  transition: all 1s ease;
}
.box-faq--active {
  display: block;
  border: 0 solid transparent;
  border-radius: 0.8rem;
  background: #2E2E2E;
  width: 95%;
  overflow: hidden;
  height: 16rem;
  margin: 2rem auto;
}
@media screen and (max-width: 1024px) {
  .box-faq {
    width: 100%;
    height: 8rem;
  }
}

.box-faq__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 2rem 7rem;
  box-sizing: border-box;
  cursor: pointer;
}
.box-faq__question .faq {
  color: #FAFAFA;
  font: 300 3.2rem/4rem "Open sans", sans-serif;
  margin-right: 2rem;
}
.box-faq__question .fi-ts-angle-small-down {
  font-size: 3.2rem;
  transition: all 1s ease;
  color: #FAFAFA;
}

.response {
  display: none;
  transition: all 1s ease;
}
.response--active {
  display: block;
  margin: 0 12rem 0 6.4rem;
  text-align: left;
  font: 300 1.6rem/2rem "Open sans", sans-serif;
  color: #F9BA10;
  z-index: -1;
}
.response--active a {
  color: inherit;
  font: inherit;
  text-decoration: underline;
}
.response--active a:visited {
  color: inherit;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin: 5.2rem 8rem;
}
.form select {
  width: 100%;
  padding: 2rem 1.2rem;
  border: 1px solid #636363;
  outline: none;
  box-sizing: border-box;
  appearance: none;
  margin-bottom: 1rem;
}
.form select:checked {
  color: #636363;
}
.form select:active {
  color: #636363;
}
.form select:focus {
  color: #636363;
}
.form select option {
  color: #FFDC7D;
}
.form select option[selected] {
  color: #636363;
}
.form fieldset {
  margin: 0;
  width: 100%;
  gap: 0.4rem;
}
.form fieldset label {
  display: block;
  font: 400 2rem/2.4rem "Open sans", sans-serif;
  color: #FAFAFA;
  margin: 1.2rem 0;
}
.form fieldset input, .form fieldset textarea {
  padding: 1.6rem 1rem;
  border-radius: 0.4rem;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  max-width: 63rem;
  box-sizing: border-box;
  margin: 1rem 0;
}
.form fieldset input::placeholder, .form fieldset textarea::placeholder {
  color: #636363;
  font-family: 400 1.6rem/2.4rem "Open sans", sans-serif;
  letter-spacing: 0.8px;
}
.form fieldset textarea {
  height: 24rem;
}
.form .submit {
  width: 28rem;
  height: 4.4rem;
  padding: 1.2rem 1rem;
  background-color: #F9BA10;
  color: #FAFAFA;
  font-size: 1.6rem;
  border: 0px solid transparent;
  border-radius: 0.4rem;
  margin-top: 2rem;
}
.form textarea {
  resize: vertical;
}
@media screen and (max-width: 1024px) {
  .form {
    padding: 0 1.2rem;
    box-sizing: border-box;
    width: 100%;
  }
  .form fieldset {
    margin: 0 auto;
  }
  .form .submit {
    width: 100%;
    height: 5.6rem;
  }
}
.form-franqueado {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin: 1rem 8rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  gap: 1rem;
  height: auto;
}
.form-franqueado select {
  width: 100%;
  padding: 2rem 1.2rem;
  border: 1px solid #636363;
  outline: none;
  box-sizing: border-box;
  appearance: none;
  margin-bottom: 1rem;
}
.form-franqueado select:checked {
  color: #636363;
}
.form-franqueado select:active {
  color: #636363;
}
.form-franqueado select:focus {
  color: #636363;
}
.form-franqueado select option {
  color: #FFDC7D;
}
.form-franqueado select option[selected] {
  color: #636363;
}
.form-franqueado fieldset {
  margin: 0;
  width: 100%;
  gap: 0.4rem;
}
.form-franqueado fieldset label {
  display: block;
  font: 400 2rem/2.4rem "Open sans", sans-serif;
  color: #FAFAFA;
  margin: 1.2rem 0;
}
.form-franqueado fieldset input, .form-franqueado fieldset textarea {
  padding: 1.6rem 1rem;
  border-radius: 0.4rem;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  max-width: 63rem;
  box-sizing: border-box;
  margin: 1rem 0;
}
.form-franqueado fieldset input::placeholder, .form-franqueado fieldset textarea::placeholder {
  color: #636363;
  font-family: 400 1.6rem/2.4rem "Open sans", sans-serif;
  letter-spacing: 0.8px;
}
.form-franqueado fieldset textarea {
  height: 24rem;
}
.form-franqueado .submit {
  width: 28rem;
  height: 4.4rem;
  padding: 1.2rem 1rem;
  background-color: #F9BA10;
  color: #FAFAFA;
  font-size: 1.6rem;
  border: 0px solid transparent;
  border-radius: 0.4rem;
  margin-top: 2rem;
}
.form-franqueado textarea {
  resize: vertical;
}
@media screen and (max-width: 1024px) {
  .form-franqueado {
    padding: 0 1.2rem;
    box-sizing: border-box;
    width: 100%;
  }
  .form-franqueado fieldset {
    margin: 0 auto;
  }
  .form-franqueado .submit {
    width: 100%;
    height: 5.6rem;
  }
}
.form-franqueado .submit {
  width: 100%;
  background-color: #F9BA10;
  height: 5.4rem;
  color: #2E2E2E;
  border-radius: 0.8rem;
  font: 400 2rem/2.4rem "Open sans", sans-serif;
  font-weight: 800;
  margin-top: 4rem;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  .form-franqueado {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 auto;
    gap: 0px;
  }
  .form-franqueado select {
    width: 100%;
    padding: 2rem 1.2rem;
    border: 1px solid #636363;
    outline: none;
    box-sizing: border-box;
    appearance: none;
    margin-bottom: 1rem;
  }
  .form-franqueado select:checked {
    color: #636363;
  }
  .form-franqueado select:active {
    color: #636363;
  }
  .form-franqueado select:focus {
    color: #636363;
  }
  .form-franqueado select option {
    color: #FFDC7D;
  }
  .form-franqueado select option[selected] {
    color: #636363;
  }
  .form-franqueado fieldset {
    margin: 0;
    width: 100%;
    gap: 0.4rem;
  }
  .form-franqueado fieldset label {
    display: block;
    font: 400 2rem/2.4rem "Open sans", sans-serif;
    color: #FAFAFA;
    margin: 1.2rem 0;
  }
  .form-franqueado fieldset input, .form-franqueado fieldset textarea {
    padding: 1.6rem 1rem;
    border-radius: 0.4rem;
    border: 1px solid transparent;
    outline: none;
    width: 100%;
    max-width: 63rem;
    box-sizing: border-box;
    margin: 1rem 0;
  }
  .form-franqueado fieldset input::placeholder, .form-franqueado fieldset textarea::placeholder {
    color: #636363;
    font-family: 400 1.6rem/2.4rem "Open sans", sans-serif;
    letter-spacing: 0.8px;
  }
  .form-franqueado fieldset textarea {
    height: 24rem;
  }
  .form-franqueado .submit {
    width: 28rem;
    height: 4.4rem;
    padding: 1.2rem 1rem;
    background-color: #F9BA10;
    color: #FAFAFA;
    font-size: 1.6rem;
    border: 0px solid transparent;
    border-radius: 0.4rem;
    margin-top: 2rem;
  }
  .form-franqueado textarea {
    resize: vertical;
  }
}
@media screen and (max-width: 1024px) and (max-width: 1024px) {
  .form-franqueado {
    padding: 0 1.2rem;
    box-sizing: border-box;
    width: 100%;
  }
  .form-franqueado fieldset {
    margin: 0 auto;
  }
  .form-franqueado .submit {
    width: 100%;
    height: 5.6rem;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #2E2E2E;
    background-color: #FAFAFA;
  }
  a:hover {
    color: #636363;
  }
  button {
    background-color: #f0f0f0;
  }
}
@media screen and (max-width: 560px) {
  section:first-of-type {
    height: 52rem;
  }
  .nav {
    padding: 0.8rem 0;
  }
  .nav img {
    height: 5.2rem;
  }
  .nav ul {
    display: none;
  }
  .nav__burger {
    display: block;
    font-size: 2.4rem;
  }
  .container {
    padding: 0 2rem;
    box-sizing: border-box;
  }
  .container__hero {
    width: 100%;
    margin-top: 14rem;
  }
  .container__mask {
    top: -44rem;
    overflow: hidden;
    height: 110vh;
    width: 100vw;
  }
  .hero {
    width: 91.3rem;
    height: 91.3rem;
    top: -10rem;
  }
  .hero__mask {
    width: 90.4rem;
    height: 90.4rem;
  }
  .hero__mask-img1 {
    bottom: -2rem;
    right: 32rem;
    width: 32rem;
  }
  .hero__mask-img2 {
    right: 30rem;
    width: 13rem;
  }
  .hero__mask-img3 {
    bottom: 12rem;
    width: 20rem;
    right: 28rem;
  }
  .hero__mask-img4 {
    width: 6rem;
    right: 52rem;
    bottom: 28rem;
  }
  .hero__title {
    font: 200 3.6rem/3.6rem "Open sans", sans-serif;
  }
  .hero__desc {
    font: 400 1.6rem/2.4rem "Open sans", sans-serif;
  }
  .hero__btn {
    padding: 0.8rem 3.6rem;
  }
  .commom-inner__title, .title {
    font: 200 3.6rem/3.6rem "Open sans", sans-serif;
  }
}

/*# sourceMappingURL=style.css.map */
